.editor-styles-wrapper {
	padding: 0 20px 0 20px !important; 
}


/* Force height below of Gutenberg Editor to be only 50px vs. 40vh, and force the Gutenberg block to be fullwidth */
.wp-block{
    max-width: 1400px !important;
}

/* Widget editor styles */


.blocks-widgets-container .wp-block-widget-area__inner-blocks.editor-styles-wrapper {
    margin: 0;
    padding: 0;
}

.edit-widgets-main-block-list  {
	padding: 0 20px 0 20px !important;
	}
	
.blocks-widgets-container .editor-styles-wrapper{
	max-width: 1400px;
	width: 100%;
}
